# Local .terraform directories
**/.terraform/*

# Local .lingon directories (generated code)
**/.lingon/*
**/.terra/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
**/tfplan

# Generated Go files from Terraform schemas
gen/
bin/
vendor/

# GoLand files
.idea/
**/out
.vscode/
dist/
cover.*
